@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');
@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans-roboto: 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'Roboto', sans-serif;
	--font-caveat: 'Caveat', sans-serif;

	--animate-blink: blink 0.7s infinite;

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
}
