@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans-poppins:
		'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'Poppins', ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-caveat:
		'Caveat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--animate-blink: blink 0.7s infinite;

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
}
